TELEGRAM_BOT_TOKEN=
OPENWEATHER_API_KEY=
GROQ_API_KEY=
GROQ_MODEL=
SYSTEM_PROMPT="You are a personal assistant within Telegram. Please respond in plaintext."
CONTEXT_LIMIT=10
DEBUG_MODE=false
THINKING_TOKENS=true
